@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Inter-Regular.ttf'); 
  }

  @font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-SemiBoldItalic';
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBoldItalic.ttf');
}

:root {
    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;
    --background-body: #E1D4C9;
    --background-container: #665F55;
    --background-backdrop: rgba(64, 63, 61, 0.80);
    --border-light: #C1B6AD;
    --border-dark: #665F55;
 }

html {
    scroll-behavior: smooth;
  }

body {
    background: var(--background-body, #E1D4C9);
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}

.img, .svg {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    background: var(--background-body, #E1D4C9);
}

/* HEADER START */

.burger-menu {
    display: none;
}

.header {
    padding-top: 20px;
    background-color: #E1D4C9;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Inter-SemiBold;
    line-height: 150%;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    background-image: url(../../assets/icons/logo.png);
    width: 100px;
    height: 60px;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding-left: 0;
}

.nav-link {
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    position: relative;
}

.nav-link::before, .coffee-menu::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--text-dark, #403F3D);
    transform-origin: center;
    transition: transform 0.7s, width 0.7s;
}

.nav-link:hover::before, .coffee-menu:hover::before {
    width: 100%;
    transform: translateX(-50%);
}

.coffee-menu {
    display: flex;
    gap: 8px;
    position: relative;
}

.coffee-menu__cup {
    background-image: url(../../assets/icons/coffee-cup.svg);
    width: 20px;
    height: 20px;
}

/*HEADER END*/

/*ENJOY START*/

.enjoy__content {
    background-image: url(../../assets/images/img-hero.jpg);
    max-width: 1440px;
    height: 645px;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}

.offer {
    width: 630px;
    padding-top: 100px;
    padding-left: 100px;
}

.italic-text {
    font-family: Inter-SemiBoldItalic;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-accent, #B0907A); 
}

.offer-text {
    font-family: Inter-SemiBold;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-light, #E1D4C9); 
} 

.description {
    font-family: Inter-Regular;
    line-height: 150%;
    color: var(--text-light, #E1D4C9);
    font-size: 16px;
    padding-top: 42px;
    margin-bottom: 40px;
}

.offer-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
}

.offer-button-text {
    transition: transform 0.7s;
  }
  
  .offer-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 58%; 
    transform: translateY(-50%);
    background-image: url('../../assets/icons/coffee-cup.svg');
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.7s;
  }
  
  .offer-button:hover .offer-button-text {
    transform: translateX(-15px);
    transition: transform 0.7s;
  }
  
  .offer-button:hover::after {
    opacity: 1;
  }

.menu-link {
    text-decoration: none;
    color: var(--text-dark, #403F3D);
}

/*ENJOY END*/

/*FAVORITE COFFEE START*/

.favorite-coffee__text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
    padding-top: 100px;
}
.red-italic {
    color: var(--text-accent, #B0907A);
    font-family: Inter-SemiBoldItalic;
    font-size: 60px;
    line-height: 125%;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.left-btn {
    position: absolute;
    top: 329px;
    left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: var(--background-body, #E1D4C9);
    transition: 0.5s;
}

.slider {
    margin: 0 auto;
}

.coffee {
    width: 480px;
    padding-top: 40px;
}
.coffee__pic {
    background-image: url(../../assets/images/coffee-slider-1.png);
    width: 480px;
    height: 480px;
    background-size: cover;
}
.coffee__name {
    padding-top: 20px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
}
.coffee__description {
    padding-top: 15px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-Regular;
    line-height: 150%;
}
.coffee__price {
    padding-top: 16px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
}
.right-btn {
    position: absolute;
    top: 329px;
    right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: var(--background-body, #E1D4C9);
    transition: 0.5s;
}

.right-btn:hover, .left-btn:hover {
    cursor: pointer;
    background: var(--background-container, #665F55);
    transition: 0.5s;
}
  
.right-btn:hover .arrow, .left-btn:hover .arrow {
    filter: invert(97%) sepia(6%) saturate(1104%) hue-rotate(313deg) brightness(92%) contrast(90%);
}

.controls {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.control {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-dark, #665F55);
}

/*FAVORITE COFFEE END*/

/*ABOUT START*/

.about__text {
    padding-top: 100px;
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
}

.about__images {
    padding-top: 40px;
    display: flex;
    gap: 40px;
}

.about-1 {
    background-image: url(../../assets/images/about-1.jpg);
    background-position: center;
    margin-bottom: 40px;
}

.about-2 {
    background-image: url(../../assets/images/about-2.jpg);
    background-position: center;
}

.about-3 {
    background-image: url(../../assets/images/about-3.jpg);
    background-position: center;
    margin-bottom: 40px;
}

.about-4 {
    background-image: url(../../assets/images/about-4.jpg);
    background-position: center;
}

.pic-large {
    border-radius: 20px;
    width: 660px;
    height: 590px;
    background-size: 110%;
    transition: 0.5s;
}

.pic-small {
    border-radius: 20px;
    width: 660px;
    height: 430px;
    background-size: 110%;
    transition: 0.5s;
}

.pic-large:hover, .pic-small:hover {
    background-size: 100%;
    transition: 0.5s;
}

/*ABOUT END*/

/*MOBILE-APP START*/

.mobile-app__content {
    display: flex;
    padding-top: 100px;
}

.mobile-app__text {
    padding-top: 145px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 630px;
}

.mobile-app__offer {
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
}

.mobile-app__mobile-screens {
    background-image: url(../../assets/images/mobile-screens.png);
    width: 630px;
    height: 630px;
    margin-left: auto;
}

.mobile-app__description {
    color: var(--text-dark, #403F3D);
    font-family: Inter-Regular;
    line-height: 150%;
}

.btn-store {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.button-app-store, .button-google-play {
    width: 200px;
    height: 64px;
}

.button-app-store, .button-google-play {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    background: var(--background-body, #E1D4C9);
    transition: 1s;
}

.app-store__caption, .google-play__caption {
    color: var(--text-dark, #403F3D);
    text-align: start;
    font-family: Inter-SemiBold;
    font-size: 10px;
    line-height: 140%;
    transition: 1s;
}
.app-store__link, .google-play__link {
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
    transition: 1s;
}

.app-store__icon, .google-play__icon {
    transition: 1s;
}

.button-app-store:hover, .button-google-play:hover {
    cursor: pointer;
    background: var(--background-container, #665F55);
    transition: 1s;
}

.button-app-store:hover .app-store__icon, .button-google-play:hover .google-play__icon {
    filter: invert(94%) sepia(9%) saturate(447%) hue-rotate(334deg) brightness(126%) contrast(84%);
    transition: 1s;
}

.button-app-store:hover .app-store__link, .button-google-play:hover .google-play__link,
.button-app-store:hover .app-store__caption, .button-google-play:hover .google-play__caption {
    color: var(--text-light, #E1D4C9);
    transition: 1s;
}

/*MOBILE-APP END*/

/*FOOTER START*/ 

 .footer {
    background: var(--background-body, #E1D4C9);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 .footer-container {
    border-radius: 40px;
    background: var(--background-container, #665F55);
    height: 450px;
    display: flex;
 }

 .socials {
    width: 600px;
    padding: 100px 0 0 100px;
 }

 .socials__text {
    color: var(--text-light, #E1D4C9);
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
 }

 .socials__link {
    display: flex;
    gap: 12px;
    padding-top: 40px;
 }

 .socials__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--background-body, #E1D4C9);
    background: var(--background-container, #665F55);
    transition: 1s;
 }

 .soc-icon {
    transition: 1s;
 }

 .socials__icon:hover {
    cursor: pointer;
    background: var(--background-body, #E1D4C9);
    transition: 1s;
 }

 .socials__icon:hover .soc-icon {
    filter: invert(41%) sepia(10%) saturate(562%) hue-rotate(356deg) brightness(82%) contrast(80%);
    transition: 1s;
 }

 .contacts-info {
    padding-top: 134px;
    padding-left: 130px;
 }

 .contact-title {
    color: var(--text-light, #E1D4C9);
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
 }

 .contact-text {
    color: var(--text-light, #E1D4C9);
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    position: relative;
 }

 .contact-text::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--text-light, #E1D4C9);
    transform-origin: center;
    transition: transform 0.7s, width 0.7s;
}

.contact-text:hover::before {
    width: 100%;
    transform: translateX(-50%);
}

 .address, .phone, .work-time {
    display: flex;
    gap: 8px;
 }

 .address {
    padding-top: 40px;
 }

 .phone {
    padding-top: 20px;
 }

 .work-time {
    padding-top: 20px;
 }

 .pin-alt-icon {
   background-image: url(../../assets/icons/pin-alt.svg);
   width: 20px;
   height: 20px;
   background-position: center;
   background-repeat: no-repeat;
 }

 .phone-icon {
    background-image: url(../../assets/icons/phone.svg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
 }

 .work-time-icon {
    background-image: url(../../assets/icons/clock.svg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
 }

/*FOOTER END*/

/*ADAPTIVE 768 START*/

@media (max-width: 768px) {
.nav__list {
    display: none;
}
.coffee-menu {
    display: none;
}
.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
}
.burger-menu__line {
    width: 16px;
    height: 2px;
    background-color: var(--text-dark);
}
.offer {
    padding-left: 60px;
}
.description {
    width: 530px;
}
.offer-button-text {
    transform: translateX(-15px);
}
.offer-button::after {
    opacity: 1;
}
.left-btn {
    left: 0;
}
.right-btn {
    right: 0;
}
.pic-large {
    width: 690px;
    background-size: 105%;
}
.pic-small {
    display: none;
}
.about__images {
    flex-direction: column;
    gap: 0;
}
.mobile-app__content {
    flex-direction: column;
}
.mobile-app__text {
    padding-top: 0;
    max-width: 680px;
    margin-bottom: 100px;
}
.mobile-app__mobile-screens {
    margin-left: 0;
}
.footer-container {
    flex-direction: column;
    height: auto;
}
.socials {
    padding: 100px 30px 0 60px;
}
.contacts-info {
    padding-top: 100px;
    padding-left: 60px;
    margin-bottom: 105px;
}
}

/*ADAPTIVE 768 END*/




