@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Inter-Regular.ttf'); 
  }

  @font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-SemiBoldItalic';
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBoldItalic.ttf');
}

:root {
    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;
    --background-body: #E1D4C9;
    --background-container: #665F55;
    --background-backdrop: rgba(64, 63, 61, 0.80);
    --border-light: #C1B6AD;
    --border-dark: #665F55;
 }

html {
    scroll-behavior: smooth;
  }

body {
    background: var(--background-body, #E1D4C9);
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    background: var(--background-body, #E1D4C9);
}

/* HEADER START */

.header {
    padding-top: 20px;
    background-color: #E1D4C9;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Inter-SemiBold;
    line-height: 150%;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    background-image: url(../../assets/icons/logo.png);
    width: 100px;
    height: 60px;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding-left: 0;
}

.nav-link {
    text-decoration: none;
    color: var(--text-dark, #403F3D);
    position: relative;
}

.nav-link::before, .coffee-menu::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--text-dark, #403F3D);
    transform-origin: center;
    transition: transform 0.7s, width 0.7s;
}

.nav-link:hover::before, .coffee-menu:hover::before {
    width: 100%;
    transform: translateX(-50%);
}

.coffee-menu {
    display: flex;
    gap: 8px;
    position: relative;
}

.coffee-menu__cup {
    background-image: url(../../assets/icons/coffee-cup.svg);
    width: 20px;
    height: 20px;
}

/*HEADER END*/

/*ENJOY START*/

.enjoy {
    background-image: url(../../assets/images/img-hero.jpg);
    max-width: 1440px;
    height: 645px;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}

.offer {
    width: 630px;
    padding-top: 100px;
    padding-left: 100px;
}

.italic-text {
    font-family: Inter-SemiBoldItalic;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-accent, #B0907A); 
}

.offer-text {
    font-family: Inter-SemiBold;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-light, #E1D4C9); 
} 

.description {
    font-family: Inter-Regular;
    line-height: 150%;
    color: var(--text-light, #E1D4C9);
    font-size: 16px;
    padding-top: 42px;
    margin-bottom: 40px;
}

.offer-button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    border: none;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
}

.menu-link {
    text-decoration: none;
    color: var(--text-dark, #403F3D); 
}

/*ENJOY END*/

/*FAVORITE COFFEE START*/

.favorite-coffee__text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
    padding-top: 100px;
}
.red-italic {
    color: var(--text-accent, #B0907A);
    font-family: Inter-SemiBoldItalic;
    font-size: 60px;
    line-height: 125%;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.left-btn {
    position: absolute;
    top: 329px;
    left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: var(--background-body, #E1D4C9);
    background-image: url(../../assets/icons/arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.slider {
    margin: 0 auto;
}

.coffee {
    width: 480px;
    padding-top: 40px;
}
.coffee__pic {
    background-image: url(../../assets/images/coffee-slider-1.png);
    width: 480px;
    height: 480px;
    background-size: cover;
}
.coffee__name {
    padding-top: 20px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
}
.coffee__description {
    padding-top: 15px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-Regular;
    line-height: 150%;
}
.coffee__price {
    padding-top: 16px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
}
.right-btn {
    position: absolute;
    top: 329px;
    right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: var(--background-body, #E1D4C9);
    background-image: url(../../assets/icons/arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat; 
}

.controls {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.control {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-dark, #665F55);
}

/*FAVORITE COFFEE END*/

/*ABOUT START*/

.about__text {
    padding-top: 100px;
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
}

.about__images {
    padding-top: 40px;
    display: flex;
    gap: 40px;
}

.about-1 {
    background-image: url(../../assets/images/about-1.jpg);
    background-position: center;
    margin-bottom: 40px;
}

.about-2 {
    background-image: url(../../assets/images/about-2.jpg);
    background-position: center;
}

.about-3 {
    background-image: url(../../assets/images/about-3.jpg);
    background-position: center;
    margin-bottom: 40px;
}

.about-4 {
    background-image: url(../../assets/images/about-4.jpg);
    background-position: center;
}



.pic-large {
    border-radius: 20px;
    width: 660px;
    height: 590px;
}

.pic-small {
    border-radius: 20px;
    width: 660px;
    height: 430px;
}

/*ABOUT END*/

/*MOBILE-APP START*/

.mobile-app__content {
    display: flex;
    padding-top: 100px;
}

.mobile-app__text {
    padding-top: 145px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 630px;
}

.mobile-app__offer {
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
}

.mobile-app__mobile-screens {
    background-image: url(../../assets/images/mobile-screens.png);
    width: 630px;
    height: 630px;
    margin-left: auto;
}

.mobile-app__description {
    color: var(--text-dark, #403F3D);
    font-family: Inter-Regular;
    line-height: 150%;
}

.btn-store {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.button-app-store, .button-google-play {
    width: 200px;
    height: 64px;
}

.button-app-store, .button-google-play {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    background: var(--background-body, #E1D4C9);
}
.app-store__icon {
    background-image: url(../../assets/icons/appstore-icon.svg);
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
}

.app-store__caption, .google-play__caption {
    color: var(--text-dark, #403F3D);
    text-align: start;
    font-family: Inter-SemiBold;
    font-size: 10px;
    line-height: 140%;
}
.app-store__link, .google-play__link {
    color: var(--text-dark, #403F3D);
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
}

.google-play__icon {
    background-image: url(../../assets/icons/googleplay-icon.svg);
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
}

/*MOBILE-APP END*/

/*FOOTER START*/ 

 .footer {
    background: var(--background-body, #E1D4C9);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 .footer-container {
    border-radius: 40px;
    background: var(--background-container, #665F55);
    height: 450px;
    display: flex;
 }

 .socials {
    width: 600px;
    padding: 100px 0 0 100px;
 }

 .socials__text {
    color: var(--text-light, #E1D4C9);
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
 }

 .socials__link {
    display: flex;
    gap: 12px;
    padding-top: 40px;
 }

 .socials__icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--background-body, #E1D4C9);
    background: var(--background-container, #665F55);  
    background-position: center;
    background-repeat: no-repeat;
 }

 .twitter {
    background-image: url(../../assets/icons/twitter.svg);
 }

 .instagram {
    background-image: url(../../assets/icons/instagram.svg);
 }

 .facebook {
    background-image: url(../../assets/icons/facebook.svg);
 }

 .contacts-info {
    padding-top: 134px;
    padding-left: 130px;
 }

 .contact-title {
    color: var(--text-light, #E1D4C9);
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
 }

 .contact-text {
    color: var(--text-light, #E1D4C9);
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
 }

 .address, .phone, .work-time {
    display: flex;
    gap: 8px;
 }

 .address {
    padding-top: 40px;
 }

 .phone {
    padding-top: 20px;
 }

 .work-time {
    padding-top: 20px;
 }

 .pin-alt-icon {
   background-image: url(../../assets/icons/pin-alt.svg);
   width: 20px;
   height: 20px;
   background-position: center;
   background-repeat: no-repeat;
 }

 .phone-icon {
    background-image: url(../../assets/icons/phone.svg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
 }

 .work-time-icon {
    background-image: url(../../assets/icons/clock.svg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
 }

/*FOOTER END*/




