@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    src: url('../../assets/fonts/Inter-Regular.ttf'); 
  }

  @font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-SemiBoldItalic';
    font-weight: 600;
    src: url('../../assets/fonts/Inter-SemiBoldItalic.ttf');
}

:root {
   --text-dark: #403F3D;
   --text-light: #E1D4C9;
   --text-accent: #B0907A;
   --background-body: #E1D4C9;
   --background-container: #665F55;
   --background-backdrop: rgba(64, 63, 61, 0.80);
   --border-light: #C1B6AD;
   --border-dark: #665F55;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: #E1D4C9;
}

/* HEADER START */

.header {
    padding-top: 20px;
    background-color: #E1D4C9;
    max-width: 1440px;
    margin: 0 auto;
    font-family: Inter-SemiBold;
    line-height: 150%;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    background-image: url(../../assets/icons/logo.png);
    width: 100px;
    height: 60px;
}

.nav__list {
    display: flex;
    gap: 40px;
    padding-left: 0;
}

.coffee-menu {
    display: flex;
    gap: 8px;
}

.coffee-menu__cup {
    background-image: url(../../assets/icons/coffee-cup.svg);
    width: 20px;
    height: 20px;

}

/*HEADER END*/

/*ENJOY START*/

.enjoy {
    background-image: url(../../assets/images/img-hero.jpg);
    max-width: 1440px;
    height: 645px;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}

.offer {
    width: 630px;
    padding-top: 100px;
    padding-left: 100px;
}

.italic-text {
    font-family: Inter-SemiBoldItalic;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-accent, #B0907A); 
}

.offer-text {
    font-family: Inter-SemiBold;
    font-size: 72px;
    line-height: 105%;
    color: var(--text-light, #E1D4C9); 
} 

.description {
    font-family: Inter-Regular;
    line-height: 150%;
    color: var(--text-light, #E1D4C9);
    padding-top: 40px;
    margin-bottom: 40px;
}

.offer-button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background: var(--background-body, #E1D4C9);
    border: none;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 16px;
    line-height: 150%;
}

/*ENJOY END*/

/*FAVORITE COFFEE START*/

.favorite-coffee__text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 60px;
    line-height: 125%;
    padding-top: 100px;
}
.favorite {
    color: var(--text-accent, #B0907A);
    font-family: Inter-SemiBoldItalic;
    font-size: 60px;
    line-height: 125%;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.left-btn {
    position: absolute;
    top: 329px;
    left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: var(--background-body, #E1D4C9);
    background-image: url(../../assets/icons/arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.slider {
    margin: 0 auto;
}

.coffee {
    width: 480px;
    padding-top: 40px;
}
.coffee__pic {
    background-image: url(../../assets/images/coffee-slider-1.png);
    width: 480px;
    height: 480px;
    background-size: cover;
}
.coffee__name {
    padding-top: 20px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
}
.coffee__description {
    padding-top: 15px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-Regular;
    line-height: 150%;
}
.coffee__price {
    padding-top: 16px;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-family: Inter-SemiBold;
    font-size: 24px;
    line-height: 125%;
}
.right-btn {
    position: absolute;
    top: 329px;
    right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--border-dark, #665F55);
    background-color: var(--background-body, #E1D4C9);
    background-image: url(../../assets/icons/arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat; 
}

.controls {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.control {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-dark, #665F55);
}
